.listaContactos {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    padding: 20px;
    border-style: solid;
    color: rgb(88, 0, 100);
    background-color: bisque;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mb-3 {
    padding: 20px;
    margin-top: 50px;
}

.listaHorarios {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 20px;
    border-style: solid;
    color: rgb(88, 0, 100);
    background-color: bisque;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.enviar {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 100px;


}