.galeriaPerro .galeriaGato {
    @extend %galerias;
}


.galeriaPerro img:hover{
    transform: scale(2);
    transition: all 3s;
}

.galeriaPerro img {
    margin: 0 25px;
    transition: all 3s;
}


.galeriaGato img{
    margin: 0 25px;
    transition: all 3s;
}


.galeriaGato img:hover{
    transform: scale(2);
}