.descQuienes {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.mision {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    margin-top: 20px;

}

.vision {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}