
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgba(93, 58, 223, 0.411);
}


h1 {
    display: flex;
    color: rgb(66, 6, 176);
    font-family: serif;
    font-size: 55px;
}


h2 {
    padding: 30px;
    display: flex;
    justify-content: center;
    color: rgb(38, 4, 65);
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    display: flex;
    color: rgb(38, 4, 65);
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h4 {
    display: flex;
    color: rgb(38, 4, 65);
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.pasosaSeguir {
    padding: 50px;
    margin: 0 530px;
    border-style: solid;
    color: rgb(88, 0, 100);
    background-color: bisque;
    width: 300px;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: 100px;
    grid-template-rows: 50px 50px 50px 50px;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pasosaSeguir__selec{
    display: grid;
    width: 10px;
    font-size: 20px;
    align-items: center;
}

.pasosaSeguir__cant{
    display: grid;
    width: 10px;
    font-size: 20px;
    align-items: center;
}

.pasosaSeguir__envio{
    display: grid;
    width: 10px;
    font-size: 20px;
    align-items: center;
}

.pasosaSeguir__abona{
    display: grid;
    width: 10px;
    font-size: 20px;
    align-items: center;
}


.boton {
    text-decoration: none;
    background-color: blanchedalmond;
    font-weight: 800;
    font-size: larger;
    margin-top: 100px;
    padding: 0 20px;
    text-decoration: none;
    width: fit-content;
    border: hidden rgba(255, 235, 205, 0.692) 3px;
    transition: all 2s;
}

.botonConocenos {
    text-decoration: none;
    font-size: 40px;
}

.boton:hover {
    transform: scale(1,3);
    transform: rotateY(360deg);
    background-color: rgb(235, 220, 241);
}



.redes {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 100px;
}

.redesIg {
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0 150px;
   
}

.redesFb {
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0 150px;
}

.logoPrincipal {
    width: 800px;
    height: 100%;
    margin: 0 280px;
    padding: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}


.linksPaginas {
    top: 30px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 50px;
    background-color: blanchedalmond;
}


.imagenMarca {
    padding: 40px;
    margin: 0 320px;
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 250px;
}



.descQuienes {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.mision {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    margin-top: 20px;

}

.vision {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.listaContactos {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    padding: 20px;
    border-style: solid;
    color: rgb(88, 0, 100);
    background-color: bisque;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mb-3{
    padding: 20px;
    margin-top: 50px;
}

.listaHorarios {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 20px;
    border-style: solid;
    color: rgb(88, 0, 100);
    background-color: bisque;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.sugerenciaTransp {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-style: solid;
    color: rgb(88, 0, 100);
    background-color: bisque;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.whatsapp {
    width: 80px;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.galeriaPerro {
    padding: 50px;
    width: 400px;
    height: 400px;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}


.galeriaPerro img:hover{
    transform: scale(2);
    transition: all 3s;
}

.galeriaPerro img {
    margin: 0 25px;
    transition: all 3s;
}


.galeriaGato {
    padding: 50px;
    width: 400px;
    height: 400px;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.galeriaGato img{
    margin: 0 25px;
    transition: all 3s;
}


.galeriaGato img:hover{
    transform: scale(2);
}

.mb-3 {
    background-color: bisque;
}





/* MEDIA QUERY */

@media screen and (max-width: 320px) {
    body {
        background-color: rgb(201, 196, 196);
    }

    .logoPrincipal {
        margin: 10px 140px;
        width: 600px;
        height: 600px;
        display: flex;
        justify-items: center;
        align-items: center;
    }


    .linksPaginas {
        flex-direction: column;
        width: 200px;
        font-size: 60px;
        padding: 0 300px;
    }

    h1 {
        margin: 10px 250px;
        font-size: 100px;
        padding: 200px;

    }


    .botonConocenos {
        text-decoration: none;
        text-align: center;
        justify-items: center;
        font-size: 40px;
    }

    h2{
        font-size: 40px;
        margin: 0 300px;
        padding: 80px;
    }

    h3{
        font-size: 35px;
        margin: 0 100px;
        padding: 80px;
    }

    h4{
        font-size: 30px;
        padding: 50px;
    }
    
    .pasosaSeguir{
        margin: 10px 250px;
        padding: 50px;
        width: 300px;
        height: 350px;
    }

    .imagenMarca{

        margin: 10px 130px;
        padding: 50px;
        width: 300px;
        height: 250px;
    }


    .galeriaGato{
        margin: 0 200px;
    }

    .galeriaPerro{
        margin: 0 200px;
    }

   .divHorarios{
        width: fit-content;

   }

   .divContactos{
        padding: 50px;
        width: fit-content;
   }

   .listaContactos {
        margin:0 150px ;
        width: 100%;
   }

   .listaHorarios {
    margin:0 200px ;
    width: 100%;
}


}